@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

body {
  background-color: aliceblue;
  margin: 50px;
  font-family: 'Roboto', sans-serif;
}

.dataVis {
  display: flex;
}

#chart {
  background-color: white;
  padding: 15px;
  border-radius: 15px;
}

#tabs {
  padding: 20px 0;
  width: 100%;
}

.tab {
  background-color: white;
  border-radius: 0 15px 15px 0;
  padding: 0 15px;
  margin: 5px 0;
  display: flex;
  align-items: center;
}

.tab .color {
  box-shadow: 0 3px 10px 0px rgba(0,0,0,0.1);
  padding: 18px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 11px;
  opacity: 0.5;
}
.tab h2 {
  width: 80%;
  display: inline-block;
  padding: 0 10px;
}

.tab .fa-times {
  width: 10%;
  display: inline-block;
  font-size: 30px;
  color: indianred;
  cursor: pointer;
}

.create {
  text-align: center;
  display: inline-block;
  padding: 25px 15px;
}

.create:hover {
  background-color: #F8F8F8;
  cursor: pointer;
}

.create i {
  font-size: 40px;
  color: limegreen;
}
.create .options {
  display: none;
}

.create.openend .add-new {
  display: none;
}
.create.openend .options {
  display: block;
}
.create.openend {
  text-align: left;
}

.label {
  opacity: 0;
}

.label:hover {
  opacity: 1;
}

.yearbar {
  fill: white;
  opacity: 0;
  z-index: 99;
}

.yearbar:hover {
  fill:black;
  opacity: 1;
}

.yearbar:hover rect {
  opacity: 0.01;
}

.yearbar rect {
  fill: black;
  opacity: 0;
}